{
    "plugins": [
		"react"
	],
	"parserOptions": {
		"ecmaVersion": 6,
		"sourceType": "module",
		"ecmaFeatures": {
			"jsx": true
		}
	},
	"env": {
		"es6": true,
		"browser": true,
		"node": true,
        "jest": true
	},
	"extends": [
		"eslint:recommended",
		"plugin:react/recommended"
	],
    "settings": {
        "import/ignore": [
            "node_modules",
            "\\.(json|css|jpg|png|gif|eot|otf|webp|svg|ttf|woff|woff2|mp4|webm)$",
        ],
        "import/extensions": [".js"],
        "import/resolver": {
            "node": {
                "extensions": [".js", ".json"]
            }
        }
    },
	"rules": {
		"spaced-comment": [2, "always"],
		"vars-on-top": 2,
		"no-undef": 2,
		"no-undefined": 2,
		"comma-dangle": [2, "never"],
		"quotes": [2, "single", "avoid-escape"],
		"semi": [2, "always"],
		"guard-for-in": 2,
		"no-eval": 2,
		"no-with": 2,
		"valid-typeof": 2,
		"no-unused-vars": 2,
		"no-continue": 1,
		"no-extra-semi": 1,
		"no-unreachable": 1,
		"no-unused-expressions": 1,
		"no-magic-numbers": 1,
		"max-len": [1, 80, 4],
		"indent": [2, 4],
		"space-in-parens": [0, "never"],
		"template-curly-spacing": [2, "never"],
		"array-bracket-spacing": [2, "never"],
		"object-curly-spacing": [2, "never"],
		"computed-property-spacing": [2, "never"],
		"no-multiple-empty-lines": [2, {
			"max": 1,
			"maxEOF": 0,
			"maxBOF": 0
		}],
		"no-use-before-define": [2, {
			"functions": false
		}],
		"prefer-const": 1,
		"complexity": [1, 5],

        "react/jsx-boolean-value": "warn",
        "react/jsx-closing-bracket-location": "warn",
        "react/jsx-curly-spacing": "warn",
        "react/jsx-equals-spacing": ["warn", "never"],
        "react/jsx-first-prop-new-line": ["warn", "multiline"],
        "react/jsx-handler-names": "warn",
        "react/jsx-indent": ["warn", 2],
        "react/jsx-indent-props": ["warn", 2],
        "react/jsx-key": "warn",
        "react/jsx-max-props-per-line": "warn",
        "react/jsx-no-bind": ["warn", {"allowArrowFunctions": true}],
        "react/jsx-no-comment-textnodes": "warn",
        "react/jsx-no-duplicate-props": ["warn", { ignoreCase: true }],
        "react/jsx-no-undef": "warn",
        "react/jsx-pascal-case": ["warn", {
            allowAllCaps: true,
            ignore: [],
        }],
        "react/jsx-sort-props": "warn",
        "react/jsx-tag-spacing": "warn",
        "react/jsx-uses-react": "warn",
        "react/jsx-uses-vars": "warn",
        "react/jsx-wrap-multilines": "warn",
        "react/no-deprecated": "warn",
        "react/no-did-mount-set-state": "warn",
        "react/no-did-update-set-state": "warn",
        "react/no-direct-mutation-state": "warn",
        "react/no-is-mounted": "warn",
        "react/no-unused-prop-types": "warn",
        "react/prefer-es6-class": "warn",
        "react/prefer-stateless-function": "warn",
        "react/prop-types": "warn",
        "react/react-in-jsx-scope": "warn",
        "react/require-render-return": "warn",
        "react/self-closing-comp": "warn",
        "react/sort-comp": "warn",
        "react/sort-prop-types": "warn",
        "react/style-prop-object": "warn",
        "react/void-dom-elements-no-children": "warn"
	}
}
